<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TpAmb" value="2" />
    <add key="ProcEmi" value="1" />
    <add key="VerProc" value="1.0" />
    <add key="classTrib" value="99" /> 
    <add key="indSitPJ" value="0" />
    <add key="cnpjSoftHouse" value="25957455814" />
    <add key="nmRazao" value="Banco Alfa" />
    <add key="nmCont" value="Gilcelaine" />
    <add key="telefone" value="998776632" />
    <add key="email" value="banco@alfa.com.br" />
    <add key="indRetif" value="1" />    
    <add key="PATH_EVTVIEWER" value="C:\temp\EFI\" /> 
    <add key="GeradorCacheEFI_URL" value="tcp://172.18.1.48:8867/GeradorCache"/>
    <add key="MaxDegreeOfParallelism" value="1" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AtendeClienteServiceSoapBinding">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
            <customBinding>
                <binding name="CustomBinding_IConsultaEFD">
                    <security defaultAlgorithmSuite="Default" authenticationMode="SecureConversation"
                        requireDerivedKeys="true" includeTimestamp="true" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10"
                        requireSignatureConfirmation="false" canRenewSecurityContextToken="true">
                        <secureConversationBootstrap defaultAlgorithmSuite="Default"
                            authenticationMode="IssuedToken" requireDerivedKeys="true"
                            includeTimestamp="true" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10"
                            requireSignatureConfirmation="false">
                            <issuedTokenParameters tokenType="http://docs.oasis-open.org/wss/oasis-wss-saml-token-profile-1.1#SAMLV1.1" />
                            <localClientSettings detectReplays="true" />
                            <localServiceSettings detectReplays="true" />
                        </secureConversationBootstrap>
                        <localClientSettings detectReplays="true" />
                        <localServiceSettings detectReplays="true" />
                    </security>
                    <binaryMessageEncoding />
                    <tcpTransport />
                </binding>
            </customBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IConsultaEFD">
                    <security mode="None" />
                </binding>
                <binding name="NetTcpBinding_IConsultaEFD1" />
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IConsultaEFD" closeTimeout="04:00:00"
              openTimeout="04:00:00" receiveTimeout="04:00:00" sendTimeout="04:00:00"
              maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
                    <reliableSession inactivityTimeout="04:00:00" enabled="true" />
                    <security mode="None" />
                </binding>
            </wsHttpBinding> 
        </bindings>
        <client>
            <endpoint address="https://apps.correios.com.br/SigepMasterJPA/AtendeClienteService/AtendeCliente"
                binding="basicHttpBinding" bindingConfiguration="AtendeClienteServiceSoapBinding"
                contract="WsCorreios.AtendeCliente" name="AtendeClientePort" />
          
            <endpoint address="net.tcp://srv925:25110/Sinacor/InformacaoApoio/InformacaoApoio.Integration.IConsultaEFD.svc/Federated"
                binding="customBinding" bindingConfiguration="CustomBinding_IConsultaEFD"
                contract="WsReinf.IConsultaEFD" name="CustomBinding_IConsultaEFD" />
            <endpoint address="net.tcp://srv925:25110/Sinacor/InformacaoApoio/InformacaoApoio.Integration.IConsultaEFD.svc/Basic"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IConsultaEFD"
                contract="WsReinf.IConsultaEFD" name="NetTcpBinding_IConsultaEFD" />
            <endpoint address="net.tcp://srv925:25110/Sinacor/InformacaoApoio/InformacaoApoio.Integration.IConsultaEFD.svc/Transport"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IConsultaEFD1"
                contract="WsReinf.IConsultaEFD" name="NetTcpBinding_IConsultaEFD1">
                <identity>
                    <servicePrincipalName value="host/SRV925.alfalab.corp" />
                </identity>
            </endpoint>
            <endpoint address="http://srv925:25101/Sinacor/InformacaoApoio/InformacaoApoio.Integration.IConsultaEFD.svc/WsHttpBinding"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IConsultaEFD"
                contract="WsReinf.IConsultaEFD" name="WSHttpBinding_IConsultaEFD" />
        </client>
    </system.serviceModel>
</configuration>